/* STYLES FOR APP BRANCH */

.row {
    display: flex;
    flex-flow: row;
}

.fancy-border {
    background: linear-gradient(var(--background-container), var(--background-container)) padding-box,
    linear-gradient(var(--primary-lighter), var(--primary-darker)) border-box;
    border: var(--border-thickness) solid transparent;  
}

.dashboard .tile {
    display: flex;
    flex-flow: column;
    background-color: var(--background-container);
    border-radius: 1rem;
    padding: 1rem 1rem;
}

.greeting {
    font-size: 2rem;
}

.title {
    font-weight: 700;
    padding-bottom: 8px;
}

.grid-statistics .right {
    text-align: end;
}

.note {
    color: var(--primary);
    /* opacity: .75; */
    font-size: 12px;
    grid-column: 1 / -1;
}

.grid-statistics {
    display: grid;
    grid-template-columns: 1fr 4rem;
    gap: 4px;
}

section.dashboard.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    grid-auto-rows: 96px;
    padding: 1rem 1rem 3rem;
    gap: 1rem;
    align-self: center;
}
section.dashboard.dashboard-list {
    display: flex;
    flex-flow: column;
    padding: 1rem 1rem 3rem;
    gap: 1rem;
    align-self: center;
}

section.dashboard .always-wide,
section.dashboard .wide {
    grid-column-end: span 2;
}

section.dashboard .large {
    grid-row-end: span 2;
}

.dashboard .tile {
    position: relative;
    overflow: hidden;

    min-height: 96px;

    font-size: inherit;
    height: inherit;
    align-items: inherit;
    justify-content: inherit;
    text-align: inherit;
}

.dashboard .tile.square {
    height: 96px;
    width: 96px;

    cursor: pointer;
    text-decoration: none;
    transition: filter .25s;
}
.dashboard .tile.small-button {
    min-height: inherit;
    width: inherit;
    padding-right: 8rem;

    cursor: pointer;
    text-decoration: none;
    transition: filter .25s;
}

.dashboard .mini-buttons {
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

.dashboard .tile.button {
    cursor: pointer;
    background: linear-gradient(var(--background-container), var(--background-container)) padding-box,
    linear-gradient(var(--primary-lighter), var(--primary-darker)) border-box;
    border: var(--border-thickness) solid transparent;  
}

.dashboard .tile svg {
    position: absolute;
    transform: translate(-150%, -150%)  rotate(-30deg) scale(4);
    color: var(--primary);
    opacity: .30;
    left: 100%;
    top: 100%;
    transition: transform .25s;
}

.dashboard .tile.square:hover, .dashboard .tile.small-button:hover {
    filter: brightness(.95);
}

.dashboard .tile.button:hover svg, .dashboard .tile.square:hover svg, .dashboard .tile.small-button:hover svg {
    transform: translate(-150%, -150%)  rotate(-30deg) scale(5);
}


.test-list {
    display: grid;
    grid-template-columns: 1fr;
    flex-flow: column;
    gap: 1rem;
    padding: 6rem 1rem 2rem;
}

.question,
.advanced {
    background-color: var(--background-container);
    border-radius: 1rem;
    padding: 1rem 0 .5rem;
}
.question {
    position: relative;
    grid-column-end: 2;
}

.advanced {
    grid-column: 2 / -1;
}

.question-item {
    padding: 0 1rem;
}

.question-title {
    font-weight: 700;
    padding-bottom: .5rem;
}

.question ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: .5rem;
    padding-bottom: .5rem;
}
/* .question.fancy-border ul {
    padding-top: .5rem;
    gap: 1rem;
} */

.question li {
    display: flex;
}

.question.fancy-border li {
    padding: .5rem;
    cursor: pointer;
    transition: background-color .25s;
    border-radius: .5rem;
}
.question.fancy-border li:hover, .question.fancy-border li:active {
    background-color: color-mix(in srgb, var(--primary-darker) 10%, transparent);
}

.question li::before {
    content: "";
    transform: scale(.5);
    position: absolute;
    left: -10px;
    background-color: var(--primary-lighter);
    border-radius: 100%;
    height: 16px;
    width: 16px;
    margin: 2px;
}

.question li.correct::before {
    background-color: var(--primary-darker);
}

.question li.none::before {
    content: none;
}

.question.fancy-border li::before {
    background-color: var(--primary-darker);
}

.question .numbering {
    display: block;
    padding-right: 1rem;
}

.test-list .test-name,
.test-list .tile {
    grid-column: 1 / -1;
}

.container-separator {
    width: 100%;
    height: 1px;
    background-color: var(--primary);
    opacity: .5;
    margin-bottom: .5rem;
}

.question [contenteditable]:focus {
    text-decoration: underline;
    outline: none;
}

.list {
    display: flex;
    flex-flow: column;
    gap: .5rem;
}

.test-entry {
    display: flex;
    flex-flow: row;
    gap: 1rem;
}

.flex-grow {
    flex-grow: 1;
}

@media (width >= 992px) {
    section.dashboard .wide {
        grid-column-end: span 1;
    }
    .test-list {
        grid-template-columns: 2fr 1fr;
    }
    section.test-list {
        width: 960px;
    }
}

@media (width < 768px) {
    .dashboard .test-entry {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: max-content;
    }
    .dashboard .test-entry .flex-grow {
        grid-column: 1 / -1;
    }
    .dashboard .test-entry .tile.square {
        height: max-content;
        min-height: max-content;
        width: inherit;
    }
    .dashboard .test-entry .tile.square svg {
        display: none;
    }
    
    .mini-buttons .small-button {
        flex-grow: 1;
    }
}
@media (width < 992px) {
    .question.fancy-border li {
        background-color: color-mix(in srgb, var(--primary-darker) 5%, transparent);
    }
}


/* COLORS */

.color-red {
    --primary-lighter: #d99a8c;
    --primary:         #d84727;
    --primary-darker:  #7a2f1f;
}
.color-yellow {
    --primary-lighter: #e8d37d;
    --primary:         #d9b526;
    --primary-darker:  #a48713;
}
/* .color-blue {
    --primary-lighter: #8ebebe;
    --primary:         #439696;
    --primary-darker:  #037171; 
} */
.color-green {
    --primary-lighter: #8cd9ac;
    --primary:         #36bb6e;
    --primary-darker:  #1f7a45;
}
.color-purple {
    --primary-lighter: #c794d1;
    --primary:         #8d5a97;
    --primary-darker:  #4f2956;
}
